*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
    background-color: #ffff;
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    color: #E53170;
    text-align: center;
    padding: 20px;
}