*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
    background-color: #ffff;
}

.container {
    max-width: 70%px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

h1 {
    color: #E53170;
    text-align: center;
    padding: 20px;
}

.intro{
    text-align: center;
     ;
}

.section{
padding-top: 40px;
}

.clearfix::after {
    content:" ";
    clear: both;
    display: table;
}

img {
    width: 80px;
    float: left;
}

.desc {
    font-size: 12px;
}

.jobtitle, h3 {
 color: #ffff;
}

.email {
    color: rgb(65, 130, 190);
}

.column {
   width:calc(100% / 3);
   background-color:black;
   margin: 10px 10px 40px 10px;
   float: left;
   box-shadow: 2px 2px 2px 2px grey;
}

